
table thead tr{
    background-color: rgba(6, 168, 255, 0.558);
    border-bottom: 1px solid #ddd;
}

table thead tr th:nth-of-type(1){
    background-color: rgba(255, 25, 0, 0.967) ;
}

table thead tr th:nth-of-type(2){
background-color: rgba(0, 166, 255, 0.351);
}
table thead tr th:nth-of-type(3){
background-color: rgba(107, 116, 245, 0.929);
}
table thead tr th:nth-of-type(4){
background-color: rgba(25, 133, 81, 0.929)
}